// widescreens
@include mediaExtraLargeDevices {
}

// desktops and laptops
@include mediaLargeDevices {
}

// Tablets and Small Laptops
@include mediaMediumPhones {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      font-size: 4rem;
      line-height: 1;
      margin-bottom: 2rem;
    }

    .icons {
      a {
        padding: 0.5rem;
      }
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  ul.menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  div.menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background-image: url("./img/ress1.jpg");
      width: 150px;
      height: 150px;
    }
  }

  // about page
  .about-info {
    grid-template-areas:
      "bio-image"
      "bio"
      "job-info"
      "job-1"
      "job-2";
    grid-template-columns: 1fr;

    .bio p {
      font-size: 1rem;
    }

    .job-info {
      font-size: 1.4rem;
    }

    .job {
      font-size: 0.9rem;
    }
  }

  // contact me
  #contact {
    .lg-heading {
      font-size: 4rem;
    }

    .boxes {
      div {
        font-size: 1rem;
        padding: 1.5rem 0.7rem;
      }
      div:hover {
        padding: 1rem;
      }
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// smartPhones
@include mediaSmartPhones {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .boxes div {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
  }
}
